html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: row;
}

h2, p, a {
    color: red;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box {
    border: 2px solid red;
    border-radius: 5px;
    background-color: palevioletred;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;
}

.sodatime {
    height: 300px;
}